body {
	margin: 0;
	background: #e6e6e6;
}
.showSlide {
	display: none;
}
.showSlide img {
	width: 100%;
}
.slidercontainer {
	max-width: 1000px;
	position: relative;
	margin: auto;
}
.left,
.right {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}
.right {
	right: 0;
	border-radius: 3px 0 0 3px;
}
.left:hover,
.right:hover {
	background-color: rgba(115, 115, 115, 0.8);
}
.content {
	color: #eff5d4;
	font-size: 30px;
	padding: 8px 12px;
	position: absolute;
	top: 10px;
	width: 100%;
	text-align: center;
}

/* The dots/bullets/indicators */
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active,
.dot:hover {
	background-color: #717171;
}

/* Fading animation */
/*.slidein-right {
	-webkit-animation-name: slidein-right;
	-webkit-animation-duration: 1.5s;
	animation-name: slidein-right;
	animation-duration: 1.5s;
}

.slidein-left {
	-webkit-animation-name: slidein-left;
	-webkit-animation-duration: 1.5s;
	animation-name: slidein-left;
	animation-duration: 1.5s;
}

@-webkit-keyframes slidein-right {
	from {
		transform: translateX(100%);
	}

	to {
		transform: translateX(0%);
	}
}

@keyframes slidein-right {
	from {
		transform: translateX(100%);
	}

	to {
		transform: translateX(0%);
	}
}

@-webkit-keyframes slidein-left {
	from {
		transform: translateX(-100%);
	}

	to {
		transform: translateX(0%);
	}
}

@keyframes slidein-left {
	from {
		transform: translateX(-100%);
	}

	to {
		transform: translateX(0%);
	}
}*/

@media screen and (max-width: 699px) {
	.content {
		color: black;
		margin: 10px 20px 10px 20px;
		position: relative;
		height: 50px;
		width: auto;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
